body{
    background-color: #eae7dc
}

h1{
    font-size: 80px;
    color: #e85a4f;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

ul {
    list-style-type: none;
    overflow: auto;
    background-color: #d8c3a5;
    padding-left: 350px;
}

li a {
    display: block;
    color: #e98074;
    float: left;
    text-align: center;
    padding: 15px 16px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

p{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    float: left;
    padding-right: 600px;
    color: #8e8d8a;
}
